@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Amiri+Quran&family=Dancing+Script:wght@400..700&family=Gulzar&family=Matemasie&family=Noto+Nastaliq+Urdu:wght@400..700&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Sacramento&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


.textColor{
    color: #543883 !important;
}
.bgColor{
    background-color: #543883 !important;
}
*{
    font-family: "Zain", sans-serif;
    font-weight: 400;
}
.direction{
    direction: rtl !important;
}
